<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container"> 
        <nav> 
            <img class="userPic" src="/Images/Saibulu Mollel-2-online.jpg" alt="Profile Picture"> 
        
        <div class="userDetails"> 
                <h1>Sai Mollel</h1> 
                <span>Software Developement Student</span>
        </div>   
        <br>
        <div class="Employment"> 
            <h1>Employment</h1> 
            <br>
            <h2>Guest Services</h2>  
        <span>Wisconsin District Center - Milwaukee, WI</span> 

            <span>May 2023 to Present</span> 
            <p>Greeting guests coming to the building.</p> 
            
            <p>Supervising the event.</p>
             
            <p>Showing customers where to go.</p> 
             
             <br>
            <h2>Dishwasher</h2>  
             
            <span>Westmoor Country Club - Brookfield, WI</span> 

            <span>July 2020 to April 2023</span> 
            <p>Maintain a clean kitchen for a good work environment.</p> 
            
            <p>Assist chefs in meal prep.</p> 
             
            <br>
            <h2>Web Specialist</h2>  
            <span>FOMA "Fear of missing out" at Marn - Milwaukee, WI</span> 

            <span>December 2020 to October 2021</span> 
            <p>Developed the company’s website for online ordering and merchandise.</p> 
            
            <p>Managed updates on events, news, and menu on the webpage.</p> 
             
        </div>  
        <br>
        <div class="Education"> 
            <h1>Education</h1> 
            
            <h2>Associate's degree in Computer Science</h2> 
            <span>Milwaukee Area Technical College - Milwaukee, WI</span> 
            <span>January 2022 to Present</span> 
            <br> 
            <h2>High school diploma</h2> 
            <span>Kingdom prep - Wauwatosa, WI</span> 
            <span>August 2018 to May 2022</span>
        </div> 
        <br>
        <div class="Skills">   
            <h1>Skills</h1>
            <p>CSS - 1 year</p> 
            <p>Cleaning Experience - 3 years</p> 
            <p>Java - 1 year</p> 
            <p>HTML5 - 1 year</p> 
            <p>JavaScript - 1 year</p>
        </div>

        </nav> 
    </div> 
   
</body>
</html>